body#colors{
    background: rgba(25,52,84,1);
    color: white;
}

#colors #container{
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.1); /* This has to do with the combination of the primary colors */
}

#box{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 50px;
   
    background: linear-gradient(to left ,yellow, green, black, blue, purple); /* This has to do with the different arrangement of colors in a box. You can also change the arrangement in this attribute by choosing to left or to right or to bottomleft or bottom right. You could also use angles */
    
    /* You could use radial-gradient instead of linear-gradient */
}