#box{
    width: 200px;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
    margin: 20px auto;
    background: red;
    color: white;
    border-radius: 50px;
}

/* Animations & Transition */

/*@keyframes box{
    from{ background-color: red;}
    to{ background-color: black;}
}*/

@keyframes box
{
    from
    {
        background-color: red; 
        border-radius: 50px;
        top: 0;
        left: 0;
        
    }
    to
    {
        background-color: black; 
        border-radius: 100px;
        top: 100px;
        left: 100px
    }
}

#animations #box {
    position: relative;
    animation-name: box;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate; /* Here, the alternate option can be used to alternate between the reverse and the normal */
    
    /*   shorthand for the animation in the same order as what is written above
    
    animation: box 10s ease-in-out 2s 3 alternate;*/
}

#box2{
    background-color: blue;
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
}

#box2:hover {
    background-color: red;
    width: 300px;
    height: 300px;
    transition-delay: 0;
    transition-duration: 5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition: width 8s, height 2s, background 10s;
}